<div>
        <h1>Registrate!!</h1>
        <form id="registerForm">
                <label>Nombre</label>
                <input type="text" name="first_name" /><br />
                <label>Apellido</label>
                <input type="text" name="last_name" /><br />
                <label>Email</label>
                <input type="text" name="email" /><br />
                <label>Edad</label>
                <input type="text" name="age" /><br />
                <label>Contraseña</label>
                <input type="password" name="password" /><br />
        
                <input type="submit">
        </form>
        <p>¿Ya tienes una cuenta?</p><a href="/users/login">Inicia sesión</a><br />
</div>

<script src="/js/register.js"></script>