
<div>
    <div>
        <h1>Login</h1>
        <form id="loginForm" class="loginForm">
            <labe>Email</labe>
            <input type="email" name="email">
            <labe>Contraseña</labe>
            <input type="password" name="password">
            <input type="submit">
        </form>
        <p>¿No tenes una cuenta?</p><a href="/users/register">Registrate</a>
    </div>

</div>

<script src="/js/login.js"></script>